@charset "utf-8";

body
{
    font-family: monospace;
    box-sizing: border-box;
    margin: 0;
    background-color: #222;
    color: #eee;
}

a {
    color: coral;
}

#messages div, noscript
{
    font-weight: bold;
    padding: 1em;
    display: block;
}
noscript, #messages div.error
{
    background-color: crimson;
    color: white;
}
#messages div.warning
{
    background-color: #ffb500;
    color: black;
}

.main
{
    margin: .5em;
}

.inputs
{
    line-height: 1em;
    vertical-align: middle;
    margin-top: .5em;
}

#pop
{
    position: fixed;
    z-index: 80860;
    background: black;
    border-radius: .75em;
    text-align: center;
    color: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 10em;
    height: 10em;
    user-select: none;
}

#pop_high, .emoji
{
    font-size: 2em;
}

#results
{
    display: flex;
    flex-wrap: wrap;
}

.group
{
    flex: 0 1 100%;
    width: 8em;
    text-align: center;
    display: inline-block;
    padding: 1em;
    user-select: none;
    font-size: 3em;
}

.result
{
    flex: 0 1 8em;
    width: 8em;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    padding: .5em;
    user-select: none;
}

.result p
{
    margin: .5em;
    word-break: break-all;
}

.result:hover
{
    cursor: pointer;
    background-color: #333;
    content: "Copy";
    /*TODO: Show "Copy"*/
}

button
{
    padding: .5em;
    vertical-align: middle;
}

input, button
{
    font-family: monospace;
    background-color: #222;
    color: #eee;
    font-weight: bold;
}
input[type="text"]
{
    padding: .5em;
    resize: none;
    vertical-align: middle;
    background-color: #222;
    color: #eee;
}
