@charset "utf-8";

body {
	color: white;
	background: #333;
	font-family: monospace;
	text-align: center;
	font-size: 1.4em;
	margin: 0;
}

@font-face {
	font-family: Rubik;
	src: url('fonts/rubik.ttf');
}

li span {
	padding: .2em .5em;
	border-radius: .3em;
	font-weight: bold;
}
li span[doc]      { background: #acb015; }
li span[wip]      { background: darkred; }
li span[fav]      { background: chocolate; }
li span[lang=asm] { background: #6e4c13; }
li span[lang=c]   { background: #666; }
li span[lang=cs]  { background: #178600; }
li span[lang=d]   { background: #ba595e; }
li span[lang=web] { background: #e34c26; }
li span[date=on]  { border: .15em solid green; }
li span[date=off] { border: .15em solid red; }

/* Content */

main {
	width: 85%;
	margin: auto;
}

#title {
	margin: 1% 0;
	font-family: Rubik, Colibri, Manjari, Comfortaa, 'Segoe UI', Jamrul, Arial, monospace;
	font-size: 5em;
}

h2 {
	font-size: 1.5em;
	border-top: .1em solid #afafaf;
	border-bottom: .1em solid #afafaf;
	margin: 3%;
	padding: 2%;
}

h3 {
	font-size: 1.35em;
	margin: 3%;
	padding: 0;
	text-align: center;
	text-decoration-line: underline;
}

p {
	text-align: justify;
}

ul, p {
	width: 90%;
	margin: auto;
}

ul, ol { text-align: left; }

.quote {
	margin: 4% 0;
}
q {
	font-style: italic;
}

a, a:visited {
	color: coral;
}

ul.skills span {
	float: right;
}

li {
	margin: 1% 0 0 0;
	font-size: 1.15em;
}

li a {
	font-weight: bold;
}

summary {
	margin: 2% 0;
}

.buttons {
	margin-top: 1em;
}

.buttons a {
	text-decoration: none;
}

footer {
	margin: 6%;
	font-size: 0.9em;
}