@charset "utf-8";

body {
	color: white;
	background: #333;
	font-family: monospace;
	text-align: center;
	font-size: 1.4em;
	margin: 0;
}

@font-face {
	font-family: rubik;
	src: url('fonts/rubik.ttf');
}

/* d-date l-language t-techonology/stars tags */

.d, .wip, .dead,
.f-pdf,
.l-c, .l-cs, .l-d, .l-asm,
.t-web, .t-s {
	padding: .2em .5em;
	border-radius: .3em;
	font-weight: bold;
}

.d { border: .1em solid white; }

.wip { background: darkred; }

.dead { background: black; }

.f-pdf { background: red; }

.l-c { background: #666; }

.l-cs { background: #178600; }

.l-d { background: #ba595e; }

.l-asm { background: #6E4C13; }

.t-web { background: #e34c26; }

.t-s { background: chocolate; }

/* Content */

main {
	width: 85%;
	margin: auto;
}

#t {
	margin: 1% 0;
	font-family: rubik, 'Arial', monospace;
	font-size: 5em;
}

h2 {
	font-size: 1.5em;
	border-top: .1em solid #afafaf;
	border-bottom: .1em solid #afafaf;
	margin: 3%;
	padding: 2%;
}

h3 {
	font-size: 1.35em;
	margin: 3%;
	padding: 0;
	text-align: center;
	text-decoration-line: underline;
}

p {
	text-align: justify;
}

ul, p {
	width: 90%;
	margin: auto;
}

ul, ol { text-align: left; }

.quote {
	margin: 2% 0;
}
q {
	font-style: italic;
}

a, a:visited {
	color: coral;
}

ul.skills span {
	float: right;
}

li {
	margin: 1% 0 0 0;
	font-size: 1.15em;
}

li a {
	font-weight: bold;
}

summary {
	margin: 2% 0;
}

.buttons {
	margin-top: 1em;
}

.buttons a {
	text-decoration: none;
}

footer {
	margin: 6%;
	font-size: 0.9em;
}