@charset "utf-8";

@font-face
{
    font-family: Ubuntu;
    src: url('../fonts/UbuntuMono-R.ttf');
}

body
{
    font-size: 1.25em;

    background-color: #2D0924;
    color: white;

    overflow-y: auto;
}

#terminal
{
    font-family: 'Ubuntu', 'Consolas', 'DejaVu Sans Mono';
    margin: 0;

    overflow-y: scroll;

    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#terminal, #output, #input, #cursor
{
    display: inline;
}

#output
{
    margin: 0;
    white-space: pre;
}

#input
{
    margin: 0 0 0 10px;
}