@charset "utf-8";
/* Written by DD~! bla bla */

body
{
    background-color: #333;
}

#container
{
    text-align: center;
    margin-top: 20%;
}

a
{
    border: 1px solid white;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    padding: 6px;
    margin: 6px;
    background-color: black;
}

a:hover
{
    background-color: #333;
}

p
{
    color: white;
}

#button
{
    font-family: 'Segoe UI';
    margin: auto;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    
    font-size: 64px;
    
    color: white;
    background-color: red;
    
    border: 5px solid white;
    border-radius: 100px;
    
    cursor: pointer;
    
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#button:hover
{
    background-color: #FF3333;
}

#button:active
{ /* Woah, #DD! */
    background-color: #DD0000;
}
