 @charset "utf-8";
/* Written by DD~! */

body
{
    font-family: monospace;
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    background: url('../images/bg.png');
    color: white;
}

#lasttime, #links
{
    position: fixed;
    bottom: 0px;
    margin: 5px;
}

#links
{
    left: 0px;
}

#links a
{
    color: white;
}

#lasttime { right: 0px; }

/* IE.. */
legend { color: white; }

.cont { margin: 2% 0; }

.cont p, .cont a
{
    margin: 3px;
}

.cont div, .cont p
{
    text-align: center;
}

.cont a
{
    display: inline-block;
    text-decoration: none;
    padding: 10px 10px 8px 10px;
    background-color: #42413C;
    color: white;
    border-bottom: 3px solid #42413C;
    border-radius: 12px;
}

.cont a:hover, .cont a:focus
{
    border-bottom: 3px solid red;
}

.cont a:active
{
    border: 0;
    position: relative;
    top: 3px;
}

/* ~ The news! ~ */
#news
{
    border-bottom: 2px solid #DBDBDB;
    /*background-color: black;*/
}

#news p, #ni
{
    padding: 6px;
    display: inline-block;
    margin: 0;
}

#ni
{
    border-left: 2px solid #DBDBDB;
}
