@charset "utf-8";

body
{
    font-family: "Lucida Console", "Mono";
    background-color: black;
    color: white;
}

#container
{
    width: 600px;
    margin: auto;
    text-align: center;
}

#home
{
    text-decoration: none;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    color: white;
    position: fixed;
    top: 5px;
    left: 5px;
    font-size: 20px;
    padding: 6px 12px 6px 12px;
}

#home:hover, #home:focus
{
    background-color: gray;
}

fieldset
{
    margin: 5px;
}

textarea
{
    color: white;
    background-color: black;
}

p
{
    margin: 0;
}

pre
{
    background-color: #222;
    border: 1px solid white;
    border-radius: 12px;
    height: 100px;
}

button
{
    color: white;
    background-color: black;
    padding: 6px;
    border: 1px solid white;
    border-radius: 12px;
}

