@charset "utf-8";

body
{
    font-family: "Lucida Console", "Mono";
    background-color: black;
}

#container
{
    width: 900px;
    margin: 6% auto;
    border-radius: 12px;
    color: white;
    padding: 12px;
    background: url('vface.png') no-repeat bottom right #222;
}

#container a
{
    color: white;
}

h1
{
    font-size: 2.2em;
    text-shadow: 0 0 20px white;
    margin: 0;
    text-align: center;
}

h2
{
    border-top: 3px solid gray;
    padding-top: 6px;
    margin: 0;
}

h3
{
    border-top: 1px solid gray;
    padding-top: 6px;
    margin: 0;
}

nav
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    background-color: black;
    font-size: 1.1em;
}

nav a
{
    border-bottom: 3px solid black;
    text-decoration: none;
    color: white;
    padding: 10px 20px 10px 20px;
    float: left;
}

nav a:hover,nav a:focus
{
    border-bottom: 3px solid red;
}

.on
{
    background-color: #333;
    border-bottom: 3px solid red;
}

li
{
    margin: 0 0 4px;
}

abbr
{
    cursor: help;
}
